{% extends '::front.html.twig' %}

{% block archives %}
    {% for archive in archives %}
        <p style="text-align: left;">
            <a href="{{ path('article_front_show', {'id': archive.id}) }}">{{ archive.titre }} - {{ archive.datePublication|date('d/m/Y') }}</a>
        </p>
    {% endfor %}
{% endblock %}

{% block article %}
    <div class="breadcrumb">
        <span class="navigation_page">{{ entity.titre }}</span>
    </div>

    <div>
        {{ entity.contenu|raw }}
    </div>
{% endblock %}

