{% extends '::base.html.twig' %}
{% from 'MopaBootstrapBundle::macros.html.twig' import label, badge %}

{% block headline %}
    <h1>Image : {{ entity.titre }}</h1>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">

            <div class="header-buttons pull-right">    
                <a href="{{ path('presse') }}" class="btn btn-info">Retour à la liste</a>

                <a href="{{ path('presse_edit', { 'id': entity.id }) }}" class="btn btn-warning">Modifier</a>
            </div>

            <table class="record_properties">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ entity.id }}</td>
                    </tr>
                    <tr>
                        <th>Titre</th>
                        <td>{{ entity.titre }}</td>
                    </tr>
                    <tr>
                        <th>Date de publication</th>
                        <td>{{ entity.dateModification|date('d/m/Y') }}</td>
                    </tr>
                    <tr>
                        <th>Vignette</th>
                        <td><img src="/{{ entity.webPathVignette }}" width="220px;"/></td>
                    </tr>
                    <tr>
                        <th>Image</th>
                        <td><img src="/{{ entity.webPathImage }}" width="300px;"/></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
